[submodule "vendor/zig-v8"]
	path = vendor/zig-v8
	url = git@github.com:Browsercore/zig-v8-fork.git
[submodule "vendor/tigerbeetle-io"]
	path = vendor/tigerbeetle-io
	url = git@github.com:Browsercore/tigerbeetle-io.git
[submodule "vendor/linenoise-mob"]
	path = vendor/linenoise-mob
	url = https://github.com/rain-1/linenoise-mob.git
