[submodule "vendor/zig-v8"]
	path = vendor/zig-v8
	url = https://github.com/francisbouvier/zig-v8-fork
[submodule "vendor/tigerbeetle-io"]
	path = vendor/tigerbeetle-io
	url = https://github.com/francisbouvier/tigerbeetle-io
[submodule "vendor/linenoise-mob"]
	path = vendor/linenoise-mob
	url = git@github.com:rain-1/linenoise-mob.git
